body{
    color: #2D1807;
    background-color: #fefae0;
}

header{
    background-color: #faedcd;
}

footer{
    background-color: #faedcd;
}

input{
    color: #2D1807;
}

div#editor {
    background-color: white;
}

table{
    margin:.2rem;
}

table thead{
    color: #fefae0;
    background-color: #2D1807;
}

table th, table td{
    padding-left: .7rem;
    padding-right: .7rem;
    border-width: 2px;
    border-color: #914C17;
}
