body{
    color: #2D1807;
    background-color: #fefae0;
}

header{
    background-color: #faedcd;
}

footer{
    background-color: #faedcd;
}

input{
    color: #222222;
}

div#editor {
    background-color: white;
}
