body{
    background-color: #222222;
    color: #EEEEEE;
}

header{
    background-color: #444444;
}

footer{
    background-color: #444444;
}

.border{
    border-color: #333333 !important; 
}

select{
    background-color: #222222;
}

input{
    color: #222222;
}

div#editor {
    background-color: #EEEEEE;
}

table{
    margin:.2rem;
}

table thead{
    color: #222222;
    background-color: #EEEEEE;
}

table th, table td{
    padding-left: .7rem;
    padding-right: .7rem;
    border-width: 2px;
    border-color: #777777;
}