h1{
    font-size: 2rem;
}

h2{
    font-size: 1.8rem;
}

h3{
    font-size: 1.6rem;
}

h4{
    font-size: 1.4rem;
}

h5{
    font-size: 1.3rem;
}

h6{
    font-size: 1.2rem;
}

a{
    text-decoration: underline;
}

.heading-permalink{
    visibility: hidden;
}

main li{
    padding-left: .4rem;
}

.source table{
    margin:auto;
}

div.page p{
    margin-top: 1rem;
}
.table-of-contents{
    padding-left: .2rem;
}

.table-of-contents ul{
    padding-left: .6rem;
}